@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$orange: hsl(31, 77%, 52%);
$cyan: hsl(184, 100%, 22%);
$dark-cyan: hsl(179, 100%, 13%);

$transparent-white: hsla(0, 0%, 100%, 0.75); // paragraphs
$light-gray: hsl(0, 0%, 95%); // (background, headings, buttons)

body {
  background: $light-gray;
  font-family: 'Lexend Deca', sans-serif;
}

p {
  color: $transparent-white;
}

h1, button {
  color: $light-gray;
  font-family: 'Big Shoulders Display', sans-serif;
  text-transform: uppercase;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  height: 420px;
  width: 250px;
  padding: 2rem;

  > * {
    margin-bottom: 1rem;
  }

  a {
    margin-top: 4rem;
  }
}

.card-a { 
  background: $orange;
  border-radius: 15px 0 0 15px; 
}
.card-b { background: $cyan; }
.card-c { 
  background: $dark-cyan; 
  border-radius: 0 15px 15px 0;
}

.btn {
  display: inline-block;
  background: $light-gray;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  cursor: pointer;
  border: 2px solid transparent;

  &-a:hover,
  &-b:hover,
  &-c:hover {
    color: white;
    background: transparent;
    border: 2px solid white;
  }
}

@import 'mobile';
